repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        additional_dependencies: [toml]
      - id: end-of-file-fixer
        additional_dependencies: [toml]
      - id: detect-private-key
        additional_dependencies: [toml]

  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        additional_dependencies: [toml]

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        additional_dependencies: [toml]

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        additional_dependencies: [toml]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        additional_dependencies: [toml, types-PyYAML, types-tabulate]

  - repo: https://github.com/PyCQA/pylint
    rev: v3.3.1
    hooks:
      - id: pylint
        additional_dependencies: [toml, pandas, prompt-toolkit, pyyaml, questionary, tabulate, pytest, jsonargparse]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
        args: [--redact]
